<!-- core/templates/chercheurs.html -->

{% extends 'base.html' %}

{% block title %}Liste des Chercheurs{% endblock %}

{% block content %}
<div class="table-responsive">
    <h1>Liste des Chercheurs</h1>
    <form id="filterForm" method="get" action="{% url 'liste_chercheurs' %}">
        {{ form.as_p }}
<div class="row">
    <div class="col-md-6">
        <button type="submit" class="btn btn-primary">Filtrer</button>
        </div>
<div class="col-md-6">

    <a href="{% url 'ajouter_chercheur' %}" class="btn btn-success">Ajouter chercheur</a>
    </div>
</div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Spécialité</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for chercheur in chercheurs %}
            <tr>
                <td>{{ chercheur.nom }}</td>
                <td>{{ chercheur.specialite }}</td>
                <td> 
                    <a href="{% url 'modifier_chercheur' chercheur.id %}" class="btn btn-primary">Modifier</a>

                    <form method="post" action="{% url 'supprimer_chercheur' chercheur.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">Aucun chercheur trouvé.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script>
    // JavaScript pour soumettre le formulaire de filtre sans rechargement de page
    document.getElementById('filterForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const form = this;
        const formData = new FormData(form);
        const url = form.getAttribute('action');
        const params = new URLSearchParams(formData);

        fetch(`${url}?${params}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.text())
        .then(html => {
            const parser = new DOMParser();
            const doc = parser.parseFromString(html, 'text/html');
            const newContent = doc.querySelector('body').innerHTML;
            document.querySelector('.table-responsive').innerHTML = newContent;
        })
        .catch(error => console.error('Error:', error));
    });
</script>
{% endblock %}
